.header {
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(203, 200, 188);
  box-shadow: 3px 3px 15px rgb(63, 60, 60);
  border-bottom-right-radius: 0.94rem;
  border-bottom-left-radius: 0.94rem;
}

.form {
  display: flex;
  gap: 1rem;
}

.input {
  height: 2.5rem;
  border-radius: 0.63rem;
  padding-left: 0.63rem;
  border: 1px solid rgb(230, 86, 20);
  box-shadow: 3px 3px 15px rgb(63, 60, 60);
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #ecf8fe;
  }

  @media screen and (min-width: 768px) {
    width: 400px;
  }
}

.btn {
  min-width: 6.25rem;
  height: 2.5rem;
  border-radius: 0.63rem;
  background-color: rgb(230, 86, 20);
  box-shadow: 3px 3px 15px rgb(63, 60, 60);
  color: #fff;
  transition: opacity 250ms linear;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
